body {
	color: rbg (233,233,233);
	background-color:rgb(233);



nav{ justfly-content:space-between;

nav ul{

display:flex;

<h1> Nicole </h1>

<p style="color:hsl(276, 100%, 50%)">Este é um parágrafo azul.</p>

<p style="color:hsl(366, 100%, 50%)">Este é um parágrafo vermelho .</p>


}

